.table__container_for_lines {
    background-color: rgb(244, 214, 235);
    width: 500px;
    display: flex;
    align-items: flex-start;
    height: 200px;
    padding:20px;
    flex-direction: column;
}
.table__container_for_a_line{display: flex;
align-items: center;
justify-content: space-between;
}

.table__line {
    background-color: rgb(244, 214, 235);
    border: none;
    width: 350px;
    outline: none;
}
















